* {
  margin: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px !important;
  color: rgb(231, 252, 252) !important;
}
:root {
  --text-color: aqua;
}
body{
  background-color: rgb(17, 17, 101) !important;
}
#cityInputValue {
  padding: 12px !important;
  border: 2px solid var(--text-color);
  border-radius: 15px;
  color: black !important;
  font-size: 14px !important;
}
#cityInputValue:focus {
  box-shadow: 0 0 25px var(--text-color);
}
.btn {
  padding: 10px 25px !important;
  border-radius: 15px !important;
  margin-left: 20px !important;
  background-color: var(--text-color);
  background-color: var(--text-color) !important;
  color: black !important;
  box-shadow: 0 0 5px var(--text-color);
}
.header {
  width: 100%;
  display: flex;
  justify-content: center !important;
}
.heading {
  font-size: 39px !important;
  margin-bottom: 15px !important;
  color: rgb(198, 198, 198) !important;
}
.ajax-section .card {
  background-color: rgb(145, 145, 145);
  border: none !important;
  box-shadow: 0 0 15px rgb(19, 17, 10);
  border-radius: 25px !important;
}
.card-img-top{
  width: 22% !important;

}